/*****************************/
/***** base styles start *****/
/*****************************/
html{
  box-sizing: border-box;
  font-size: 15px;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
ul{
  list-style: none;
  padding: 0;
}
header {
  background: #fff;
  padding: 15px 0 0;
}
header > *{
  display: block;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  color: #036265;
}
header h1{
  font-family: 'Mate SC', serif;
  font-size: 2.7rem;
  font-weight: 900;
}
.wrapper{
  background: rgba(0,0,0,0.1);
}
.view-wrapper{
  max-width: 1200px;
  margin: 0 auto;
}
.view-wrapper .full-banner{
  display: table;
  width: 100%;
}
.view-wrapper .full-banner > *{
}
.view-wrapper .full-banner,
.view-wrapper .half-banner{
  position: relative;
  margin: 0 auto;
}
.view-wrapper .half-banner{
  width: 50%;
  height: 24.5rem;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.view-wrapper .caption{
  width: 100%;
  color: #fff;
}
.view-wrapper .caption img{
  width: 6rem;
  color: #fff;
}
.view-wrapper .inside{
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.2);
}
.view-wrapper .inside > *{
  margin: 0;
  text-align: center;
  padding: 2rem 0;
}
.view-wrapper .slogan{
  vertical-align: middle;
}
.view-wrapper .half-banner .caption p{
  margin: 10px 35px;
}

/*********** MEDIA QUERIES ***********/
@media only screen and (min-width: 720px) and (max-width: 950px) {
  html{
    font-size: 13px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 719px) {
  html{
    font-size: 10px;
  }
}
@media only screen and (max-width: 500px) {
  html{
    font-size: 9px;
  }
  .view-wrapper .half-banner{
    width: 100%;
    display: table-row-group;
  }
  .view-wrapper .half-banner.img{
    height: 200px;
    display: table-header-group;
  }
  .view-wrapper .half-banner .caption p{
    margin: 10px 35px 20px;
  }
}

/*******************************/
/***** base styles end *********/
/*******************************/
/***** navbar styles start *****/
/*******************************/

nav{
  background: #fff;
  border-bottom: 5px solid #036265;
}
nav > *{
  display: block;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  color: #036265;
}
nav h1{
  font-family: 'Mate SC', serif;
  font-size: 2.7rem;
  font-weight: 900;
}
nav ul{
  max-width: 1000px;
  padding: 10px 0;
  text-align: center;
  list-style: none;
  overflow: auto;
}
nav li {
  position: relative;
  overflow: hidden;
  float: left;
  width: 25%;
  text-align: center;
}
nav li a {
  display: block;
  position: relative;
  font-size: 1.5rem;
  padding: 10px 0;
  text-decoration: none;
  color: #036265;
  z-index: 999;
  -webkit-transition: ease 0.8s;
          transition: ease 0.8s;
}
nav li .underline, nav li .underline2{
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  background: #036265;
  margin: 0 auto;
  -webkit-transition: ease 0.8s;
          transition: ease 0.8s;
}
nav li .underline2{
  width: 100%;
  left: 100%;
}
nav li.active a{
  color: #fff;
}
nav li.active .underline{
  width: 100%;
}
nav li.active .underline2{
  left: 0;
}

/******************************/
/***** navbar styles end ******/
/******************************/
/***** footer styles start *****/
/******************************/

footer {
  background: #036265;
}
footer div{
  text-align: center;
  padding: 30px 0;
}
footer p{
  margin: 0;
  color: #fff;
}
footer a{
  text-decoration: none;
  color: #fff;
}

/***** footer styles end *****/
/***** home styles *****/

#restore_function, #serving-community{
  height: 28rem;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
}
#restore_function{
  background-image: url(./assets/images/pt1.jpeg);
}
#serving-community{
  background-image: url(./assets/images/people.jpeg);
}
#serving-community .inside{
  top: 0;
}
#maximize-movement, #life-quality{
}
#maximize-movement{
  background: #036265;
}
.max-movement{
  background: url(./assets/images/mobility.jpeg); 
}
.life-quality{
  background: url(./assets/images/life.jpeg); 
}
.max-movement, .life-quality{
  width: 100%;
  height: inherit;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}
#life-quality{
  background: #fff;
}
#life-quality .caption{
  color: #036265;
}
/*********** MEDIA QUERIES ***********/
@media only screen and (min-width: 720px) and (max-width: 950px) {
}
@media only screen and (min-width: 501px) and (max-width: 719px) {
}
@media only screen and (max-width: 500px) {
  .max-movement, .life-quality{
    background-size: 80%;
  }
}

/******************************/
/***** home styles end ********/
/******************************/
/***** about styles start *****/
/******************************/
#about-wrapper .half-banner.slogan{
  width: 60%;
}
#about-wrapper .half-banner.img{
  width: 40%;
}
#about-title, #about-splash{
  height: 28rem;
  background-repeat: no-repeat;
  background-position: 0 10%; 
  background-size: cover;
}
#about-title{
  background-image: url(./assets/images/dumbells.jpg);
}
#about-splash{
  background-image: url(./assets/images/kettlebells.jpg);
}
#about-body{
  background: #fff;
}
#about-body .about-body-img{
  width: 100%;
  height: 300px;
  background-image: url(./assets/images/aboutimg.jpeg);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 75%; 
}
#about-body .caption{
  color: #036265;
}
/*********** MEDIA QUERIES ***********/
@media only screen and (min-width: 720px) and (max-width: 950px) {
}
@media only screen and (min-width: 501px) and (max-width: 719px) {
  .view-wrapper#about-wrapper .half-banner{
    width: 100%;
    display: table-row-group;
  }
  .view-wrapper#about-wrapper .half-banner.img{
    height: 200px;
    display: table-header-group;
  }
  .view-wrapper#about-wrapper .half-banner .caption p{
    margin: 10px 35px 20px;
  }
  #about-body .about-body-img{
    height: 300px;
    background-size: 255px;
  }
}
@media only screen and (max-width: 500px) {
  #about-body .about-body-img{
    height: inherit;
  }
  #about-body .about-body-img{
    background-size: 43%;
  }
}
/*********************************/
/***** about styles end **********/
/*********************************/
/***** services styles start *****/
/*********************************/

#services-wrapper h3{
  text-align: center;
  font-size: 1.5rem;
  color: #036265;
}
#main-list{
  margin: 0 auto;
  padding: 20px 0 60px 0;
  max-width: 90%;
  overflow: auto;
}
#main-list h3{
  margin: 0;
  padding: 10px 0;
  background: #036265;
  color: #fff;
}
#main-list > li{
  width: 47%;
  height: 240px;
  float: left;
  display: inline;
  text-align: center;
  margin: 1.5%;
  vertical-align: middle;
  background: #fff;
  box-shadow: 1px 1px 13px rgba(0,0,0,0.26)
}
#main-list ul li{
  margin: 10px 0;
}
@media only screen and (min-width: 720px) and (max-width: 950px) {
}
@media only screen and (min-width: 501px) and (max-width: 719px) {
  #main-list > li {
    height: 190px;
  }
}
@media only screen and (max-width: 500px) {
  #main-list { 
    padding: 0 0 60px;
  }
  #main-list > li {
    float: none;
    display: block;
    width: 100%;
    max-width: 275px;
    height: 180px;
    margin: 10px auto;
  }
}
/*********************************/
/***** services styles end *******/
/*********************************/
/*****  contact styles start *****/
/*********************************/

#contact-wrapper {
  padding: 30px 0 0 0;
}  
#contact-wrapper h3{
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  color: #036265;
}
#contact-wrapper .half-banner{
  height: auto;
  padding: 30px 0;
  display: block;
  float: left;
}
#contact-body {
  display: table-row;
}
form {
  width: 100%;
  height: 100%;
  background: #fff;
}
.form-div{
  display: table;
  margin: 10px auto;
  width: 97%;
}
.form-div > div{
  height: 50px;
  display: table-row;
}
.form-div label, 
.form-div input,
.form-div textarea{
  display: table-cell;
  vertical-align: middle;
}
.form-div label{
  width: 35%;
  color: #fff;
  background: #036265;
}
.form-div input, 
.form-div textarea{
  width: 100%;
  height: inherit;
  border: 1px solid #036265;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
.form-div input:focus, 
.form-div textarea:focus{
  box-shadow: 0 0 5px #036265;
}
.form-div textarea{
  resize: vertical;
}
.btn-submit{
  background: #036265;
  color: #fff;
}
#location{
  width: 520px;
  background: #036265;
  color: #fff;
  margin: 0 auto;
}
#location h3, #contact-title h3{
  margin: 0;
  color: #fff;
  padding: 20px 0;
  background: #036265;
}
#location iframe{ 
  width: 95%;
  height: 450px;
 }
#location p{
  margin: 0;
  padding: 5px 0;
}
.address {
  padding: 0 0 10PX 0;
}
/*********** MEDIA QUERIES ***********/
@media only screen and (max-width: 1040px) {
  #contact-wrapper .half-banner {
    width: 100%;
    padding: 30px 0 15px 0;
  }
  form {
    width: 80%;
    margin: 0 auto;
  }
  #location{
    width: 80%;
  }
  .form-div > div{
    height: 40px;
  }
}
@media only screen and (min-width: 956px) and (max-width: 1040px) {
}
@media only screen and (min-width: 720px) and (max-width: 950px) {

}
@media only screen and (min-width: 501px) and (max-width: 719px) {
  #location iframe {
    width: 95%;
    height: 375px;
  }
}
@media only screen and (max-width: 500px) {
  .max-movement, .life-quality{
    background-size: 80%;
  }
  #location iframe {
    width: 95%;
    height: 350px;
  }
}
/*********************************/
/*****  contact styles end *******/
/*********************************/









