<div class="view-wrapper" id="about-wrapper">
  <div class="full-banner">
    <div id="about-title" class="banner-bg">
      <div class="inside caption">
        <h3>Let Us Help Heal Your Body</h3>
      </div>
    </div>
  </div>
  <div class="full-banner">
    <div id="about-body">
      <div class="half-banner">
        <div class="caption">
          <p>We are an outpatient physical therapist clinic staffed with bona fide clinicians whose aim is to restore function and to recover from further debilitation. We believe that in order to promote healing, the patient will need to be educated and be actively participatory in the treatment plan and goal setting.</p>
        </div>
      </div>
      <div class="half-banner img">
        <div class="half-banner-img about-body-img">
        </div>
      </div>
    </div>
  </div>
  <div class="full-banner">
    <div id="about-splash">
      <div class="inside caption">
        <p>Patients are provided with personalized activities and preventive care programs tailored to minimize or eliminate pain and discomfort while enhancing the healing process</p>
      </div>
    </div>
  </div>
<!--   











  <div>
    <img src="assets/images/aboutimg.jpeg">
  </div>
  <div>
    <p>
      We are an outpatient physical therapist clinic staffed with bona fide clinicians whose aim is to restore function and to recover from further debilitation. 
We believe that in order to promote healing, the patient will need to be educated and be actively participatory in the treatment plan and goal setting.
    </p>
  </div> -->

</div>
