<div class="view-wrapper" id="about-wrapper">
  <div>
    <img src="assets/images/aboutimg.jpeg">
  </div>
  <div>
    <h4>Let Us Help Heal Your Body</h4>
    <p>
      We are an outpatient physical therapist clinic staffed with bona fide clinicians whose aim is to restore function and to recover from further debilitation. 
We believe that in order to promote healing, the patient will need to be educated and be actively participatory in the treatment plan and goal setting.
    </p>
  </div>
</div>
