<div class="view-wrapper" id="contact-wrapper">
  <h3>Contact Us:</h3>
  <div class="full-banner">
    <div class="half-banner">
      <div id="location">
        <h3>Our Location</h3>
        <iframe
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAXRp6BsHXgz3QGbscpXmdAjyP4aEiebYk
            &q=15643+Sherman+Way+Van+Nuys+CA+91406+us" allowfullscreen>
        </iframe>
        <div class="address">
          <p>15643 Sherman Way, Suite 450 Van Nuys, CA 91406</p>
          <p>+1.8189880288</p>
        </div>
      </div>
    </div>
    <div class="half-banner">
      <form action="mailto:victor.santos.physicaltherapy@gmail.com" enctype="text/plain" method="post">
        <div id="contact-title">
          <h3>Leave us a Message</h3>
        </div>
        <div class="form-div">
          <div>
            <label>Name</label>
            <input name="Name" type="text">
          </div>
        </div>
        <div class="form-div">
          <div>
            <label>Contact Number</label>
            <input name="Contact Number" type="text">
          </div>
        </div>
        <div class="form-div">
          <div>
            <label>Email</label>
            <input name="E-mail" type="email">
          </div>
        </div>
        <div class="form-div">
          <div>
            <label>Message</label>
            <textarea class="" name="Body"></textarea>
          </div>
        </div>
        <div class="form-div">
          <div>
            <input class="btn-submit" type="submit" value="Submit">
          </div>
        </div>          
      </form> 
    </div>
  </div>
</div>

