<div class="view-wrapper" id="home-wrapper">
  <div class="full-banner">
    <div id="restore_function"></div>
    <div class="inside caption">
      <h4>Restore Function</h4>
    </div>
  </div>
  <div class="full-banner">
    <div id="maximize-movement"></div>
  </div>
  <div class="half-banner">
    <div id="home-2nd-half">
    </div>
    <div><p>We help you learn to work with your body to restore mobility through concentrated, specialized exercises and stretches. Our patients typically find their movement is restored without needing surgery.</p></div>
  </div>
</div>
