<div class="view-wrapper" id="home-wrapper">
  <div class="full-banner">
    <div id="restore_function"></div>
    <div class="inside caption">
      <h3>Restore Function</h3>
    </div>
  </div>
  <div class="full-banner">
    <div id="maximize-movement">
      <div class="half-banner slogan">
        <div class="caption">
          <img src="assets/images/gym.png">
          <h3>Maximize Movement</h3>
          <p>We help you learn to work with your body to restore mobility through concentrated, specialized exercises and stretches. Our patients typically find their movement is restored without needing surgery.</p>
        </div>
      </div>
      <div class="half-banner img">
        <div class="half-banner-img max-movement">
        </div>
      </div>
    </div>
  </div>
  <div class="full-banner">
    <div id="life-quality">
      <div class="half-banner img">
        <div class="half-banner-img life-quality">
        </div>
      </div>
      <div class="half-banner slogan">
        <div class="caption">
          <img src="assets/images/quality.png">
          <h3>Quality of Life Improvement</h3>
          <p>Chronic pain and movement limitation mean that you enjoy your life less. We find what is wrong and we also find out what you want to be able to do physically. We help you heal your body so you can live your fullest life.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="full-banner">
    <div id="serving-community">
      <div class="inside caption">
        <h3>Commitment to help out the Community</h3>
      </div>
    </div>
  </div>
</div>
