<div class="view-wrapper" id="services-wrapper">
  <h3>What We Offer:</h3>
  <ul id="main-list">
    <li>
        <h3>Orthopedic</h3>
        <ul>
          <li>Rotator Cuff</li>
          <li>Frozen Shoulder</li>
          <li>Hip Replacement</li>
          <li>Knee Replacement</li>
          <li>Open Reduction Internal Fixation</li>
          <li>Carpal Tunnel Syndrome</li>
        </ul>
    </li>
    <li>
        <h3>Neurological</h3>
        <ul>
          <li>Parkinsons</li>
          <li>Stroke</li>
          <li>Multiple Sclerosis</li>
          <li>Spinal Cord Injury</li>
          <li>Vestibular Problems</li>
        </ul>
    </li>
    <li>
        <h3>General Debilitation</h3>
        <ul>
          <li>Arthritis</li>
          <li>COPD</li>
          <li>Muscle Weakness</li>
          <li>Deconditioned</li>
        </ul>
    </li>
    <li>
        <h3>Pain Management</h3>
        <ul>
          <li>Back</li>
          <li>Neck</li>
          <li>Upper and Lower Extremities</li>
        </ul>
    </li>
  </ul>
</div>
